<div class="contact-bandeau texte-continue" id="js-contact-bandeau">
            <button
              type="button"
              class="contact-bandeau__ligne contact-bandeau__action"
              id="js-bandeau-dispo"
            >
              ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br />
              ░&nbsp;&nbsp;AFFICHER LE TELECHARGEMENT DU CV&nbsp;&nbsp;░<br />
              ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
            </button>
            <div id="js-bandeau-cv-bloc" class="contact-bandeau__cv-bloc" hidden>
              <a
                class="contact-bandeau__ligne contact-bandeau__lien-cv"
                id="js-bandeau-cv"
                href="assets/cv-martinez-joris.pdf"
                download="CV-Martinez-Joris.pdf"
              >
                ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br />
                ░&nbsp;&nbsp;▼ TÉLÉCHARGER LE CV (PDF)&nbsp;&nbsp;░<br />
                ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
              </a>
              <button
                type="button"
                class="contact-bandeau-aide"
                id="js-bandeau-retour"
              >
                ◀ RETOUR AU STATUT DISPONIBLE
              </button>
            </div>
          </div>
